@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1050px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 15px;
}

.footer_container {
  display: flex;
  max-width: 1050px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .footer_container {
    max-width: 239px;
  }
}

.footer {
  display: block;
  background: #fafafa;
  flex: 0 0 auto;
  order: 6;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*HEADER*/

.header {
  padding: 40px 0;
  position: absolute;
  width: 100%;
}

.container_header {
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.indicorp {
  display: flex;
  align-items: center;
}

.header_menu {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.header_menu nav ul {
  display: flex;
  list-style: none;
}

.header_menu li a {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #737373;
  margin: 0px 30px;
  text-decoration: none;
}

.header_menu nav a::after {
  display: block;
  position: absolute;
  content: '';
  background: #737373;
  transition: all 0.5s ease;
  width: 0;
  height: 3px;
  left: 0;
}

.header_menu ul > li > a:hover:after {
  width: 100%;
}

/* BURGER MENU*/

.burger_menu {
  margin-left: auto;
}

.burger_menu button {
  width: 35px;
  background: transparent;
  border: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  header {
    background: transparent;
    position: static;
  }

  header .indicorp {
    flex-wrap: wrap;
  }

  header .indicorp .header_menu {
    order: 5;
    height: 0;
    width: 100%;
    margin: 0;
    visibility: hidden;
    opacity: 0;
  }

  .header_menu nav {
    width: 100%;
    text-align: center;
    transform: translateY(-200%);
    transition: all 1s ease-in-out;
  }

  .header_menu nav ul {
    flex-direction: column;
  }

  .header_menu li a {
    margin: 0 0 20px 0;
    padding: 10px;
    font-size: 30px;
    line-height: 45px;
    color: #fafafa;
  }

  header.open {
    position: relative;
  }

  header.open .header_menu {
    height: auto;
    visibility: visible;
    opacity: 1;
  }

  header.open .header_menu nav {
    transform: translateY(0);
    background: #00a0c1;
  }
}

/*HERO SECTION*/

.hero {
  background: #fafafa;
  background-image: url(./img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-bottom: 60px;
}

.hero_title h1 {
  max-width: 509px;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  color: #252b42;
  margin: 35px 0;
  order: 0;
}

.hero_title p {
  max-width: 376px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: #737373;
  order: 1;
}

.hero_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 75px;
}

.hero_button:hover {
  border-color: transparent;
  background: #ffa62b;
  border-radius: 37px;
  color: #ffffff;
}

.hero_button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  background: transparent;
  padding: 10px 36px;
  border: 1px solid #00a0c1;
  box-sizing: border-box;
  border-radius: 37px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #00a0c1;
}

.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  order: 1;
}

.block1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 25px;
  position: static;
  width: 320px;
  height: 210px;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px;
}

.block1:hover h3 {
  color: #ffffff;
}

.block1:hover {
  background: #00a0c1;
}

.block1:hover p {
  color: #ffffff;
}

.block1:hover svg path {
  fill: #fff;
}

.block1 h3 {
  max-width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #252b42;
  order: 1;
  margin: 10px 0px;
}

.block1 p {
  max-width: 85%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  order: 2;
  margin: 10px 0px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .hero_title {
    align-items: center;
    padding: 0px;
    margin-bottom: 0px;
  }
  .hero_title h1 {
    max-width: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    margin: 40px 0px;
    order: 0;
  }
  .hero_title p {
    max-width: 100%;
    font-weight: 500;
    text-align: center;
    order: 1;
  }
  .hero_buttons {
    flex-direction: column;
    align-self: center;
    margin: 40px 0;
  }
  .block {
    flex-direction: column;
    justify-content: center;
    order: 1;
  }
  .block1 {
    max-width: 90%;
    height: 100%;
  }
}

/*CHOOSE SECTION*/

.choose {
  background: #fafafa;
  order: 1;
}

.main_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  order: 0;
  margin: 100px 0px;
}

.main_title h2 {
  max-width: 70%;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  color: #252b42;
  flex: none;
  margin-bottom: 15px;
}

.main_title p {
  max-width: 70%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #737373;
}

.choose_blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
}

.cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 17px;
  background: #ffffff;
  margin: 15px;
}

.cases:hover {
  transform: rotate(360deg);
  transition: all 1s ease;
}

.cases img {
  width: 48px;
  height: 48px;
  margin: 5px;
}

.cases h2 {
  padding: 10px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
}

.cases p {
  width: 190px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #737373;
  margin: 10px 0px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .main_title {
    margin: 98px 0px 75px 0px;
  }
  .choose_blocks {
    flex-direction: column;
    margin: 0 0 30px 0;
  }
}

/*ADVICE SECTION*/

.advice {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  order: 2;
}

.card_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 80px 0px;
}

.card_item_source {
  display: flex;
  flex-direction: column;
  height: 320px;
  max-width: 220px;
  margin: 15px;
  background: #ffffff;
}

.card_item_source:hover {
  background-color: #252b42;
  transform: translateY(-30px);
  transition: all 0.7s ease-in-out;
}

.card_item_source:hover h5 {
  color: #ffffff;
}

.card_item_source:hover p {
  color: #ffffff;
}
.card_item_source h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #252b42;
  order: 0;
  padding: 15px 25px;
}

.card_item_source p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  padding: 15px 25px;

  order: 1;
}

.card_item_source img {
  order: 2;
  align-self: stretch;
  margin-top: auto;
}

@media (min-width: 320px) and (max-width: 768px) {
  .card_item {
    flex-direction: column;
    justify-content: center;
    margin: 0 0 80px 0;
  }
}

/*BUSINESS SERVICE SECTION*/

.business_service {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  order: 3;
}

.trust {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  order: 1;
  margin-bottom: 100px;
  width: 100%;
}

.my_video {
  position: relative;
  padding: 0 0 56.25% 0;
  height: 0;
  width: 60%;
  overflow: hidden;
  margin-right: 70px;
}

.my_video iframe,
.my_video object,
.my_video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
  margin: 65px 0;
}

.upper_column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  order: 0;
}

.upper_column h2 {
  max-width: 330px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
}

.upper_column p {
  max-width: 330px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.lower_column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 329px;
  margin-top: 30px;
}

.last_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 277px;
  margin-left: 20px;
}

.last_block h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #252b42;
}

.last_block p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

@media (min-width: 320px) and (max-width: 768px) {
  .trust {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  .my_video {
    margin-right: 0;
  }
}

/*CLIENTS SECTION*/

.clients {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  order: 4;
}

.all_clients {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 45px 0px 140px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .all_clients {
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0px 200px;
  }
  .all_clients img {
    margin: 0 0 60px 0;
  }
  .all_clients img:not(:last-child) {
    margin-right: 0px;
  }
}

/*SUBSCRIPTION SECTION*/

.subscription {
  display: flex;
  height: 77px;
  background: #252b42;
}

.container__subscribe {
  position: relative;
  max-width: 1050px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.subscribe {
  display: flex;
  justify-content: center;
  position: absolute;
  max-width: 1050px;
  width: 100%;
  bottom: -60px;
  padding: 30px 50px;
  background: #16697a;
  border-radius: 2px;
}

.subscribe__row {
  display: flex;
  align-items: center;
  width: 100%;
}

.subscribe__title h3 {
  display: flex;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  width: 100%;
  padding-right: 100px;
  order: 0;
}

.input_group {
  display: flex;
  max-width: 450px;
  width: 100%;
  order: 1;
}

.input_group input {
  height: 58px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  padding: 20px;
  width: 100%;
  flex: 2;
}

.input_group button {
  display: flex;
  background: #ffa62b;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  padding: 14px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  flex: 1;
}

@media (min-width: 320px) and (max-width: 768px) {
  .subscribe__row {
    flex-direction: column;
    padding: 25px 0px;
  }

  .subscribe__title h3 {
    text-align: center;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .input_group {
    justify-content: center;
  }
}

/*CONTACT SECTION*/

.contact {
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  order: 6;
}

.contact_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .contact_box {
    flex-direction: column;
  }
}

.contact_box > .contact_info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  text-align: center;
  margin: 10px;
  background: #ffffff;
  transition: all 0.4s ease;
}

.contact_box > .contact_info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #252b42;
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.4s ease;
}

.contact_box > .contact_info:hover {
  z-index: 1;
}

.contact_box > .contact_info:hover > div,
button {
  z-index: 1;
}

.contact_info:hover a {
  color: #ffffff;
}

.contact_info:hover h5 {
  color: #ffffff;
}

.contact_info:hover button {
  color: #ffffff;
  border-color: #ffffff;
}

.contact_info:hover svg path {
  fill: #ffffff;
}

.contact_box > .contact_info:hover::before {
  opacity: 1;
}

.mail {
  max-width: 221px;
  text-align: center;
  order: 1;
  margin: 15px 0px;
}

.mail a {
  max-width: 181px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #252b42;
  text-decoration: none;
}

.contact_title {
  display: flex;
  flex-direction: column;
  order: 2;
}

.submit {
  margin: 10px 20px;
  width: 160px;
  height: 44px;
  border: 1px solid #ffa62b;
  background: transparent;
  box-sizing: border-box;
  border-radius: 5px;
  order: 3;
  margin: 15px 0px;
  font-style: normal;
  font-weight: 600;
  color: #ffa62b;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

/*FOOTER*/

.contact_us {
  background: #fafafa;
}

.contact_us_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1020px;
  width: 100%;
}

.contact_title h3 {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 32px;
  color: #252b42;
  margin: 10px 0px;
}

.contact_title p {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 10px;
}

.contact_us_info button {
  display: flex;
  align-items: center;
  width: 160px;
  height: 58px;
  background: #ffa62b;
  border-radius: 5px;
  border-color: transparent;
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  justify-content: center;
  order: 3;
}

@media (min-width: 320px) and (max-width: 768px) {
  .contact_us_info {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact_title {
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .contact_us_info button {
    margin-bottom: 40px;
  }
}

.information {
  background: #16697a;
}

.information_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1020px;
  width: 100%;
  padding: 0px;
  margin: 15px 0px;
}

.company_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company_info h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 20px 0px;
}

.company_info a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin: 5px 0px;
  text-decoration: transparent;
}

.contact_data {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 10px 0px;
}

.contact_data a,
.contact_data p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin: 0px 10px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .information_row {
    flex-direction: column;
    align-items: flex-start;
  }
  .company_info {
    margin: 0px;
    margin-top: 10px;
  }
}

.social_network {
  background: #fafafa;
}

.social_network_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1020px;
  width: 100%;
  padding: 0px;
  margin: 15px 0px;
}

.social_network_row p {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

.item_social_network {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item_social_network a:not(:last-child) {
  margin-right: 20px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .social_network_row {
    flex-direction: column;
    align-items: flex-start;
  }
  .social_network_row p {
    margin-bottom: 50px;
  }
}
